@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #f0f0f0;
  overflow: none;
  max-height: 100vh;
}

input,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0;
}

#__next {
  margin: 0 auto;
  max-width: 1080px;
  height: 87vh;
  position: relative;
  overflow: none;
  background-color: white;
}